.xm-collapse {
    --xm-collapse-border-color: var(--xm-border-color-light);
    --xm-collapse-header-height: 48px;
    --xm-collapse-header-bg-color: var(--xm-fill-color-blank);
    --xm-collapse-header-text-color: var(--xm-text-color-primary);
    --xm-collapse-header-font-size: 13px;
    --xm-collapse-content-bg-color: var(--xm-fill-color-blank);
    --xm-collapse-content-font-size: 13px;
    --xm-collapse-content-text-color: var(--xm-text-color-primary);
    --xm-collapse-disabled-text-color: var(--xm-disabled-text-color);
    --xm-collapse-disabled-border-color: var(--xm-border-color-lighter);
    border-top: 1px solid var(--xm-collapse-border-color);
    border-bottom: 1px solid var(--xm-collapse-border-color);
}

.xm-collapse-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--xm-collapse-header-height);
    line-height: var(--xm-collapse-header-height);
    background-color: var(--xm-collapse-header-bg-color);
    color: var(--xm-collapse-header-text-color);
    cursor: pointer;
    font-size: var(--xm-collapse-header-font-size);
    font-weight: 500;
    transition: border-bottom-color var(--xm-transition-duration);
    outline: none;
    border-bottom: 1px solid var(--xm-collapse-border-color);
    &.is-disabled {
        color: var(--xm-collapse-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
    }
    &.is-active {
        border-bottom-color: transparent;
        .header-angle {
            transform: rotate(90deg);
        }
    }
    .header-angle {
        transition: transform var(--xm-transition-duration);
    }
}
.xm-collapse-item__content {
    will-change: height;
    background-color: var(--xm-collapse-content-bg-color);
    overflow: hidden;
    box-sizing: border-box;
    font-size: var(--xm-collapse-content-font-size);
    color: var(--xm-collapse-content-text-color);
    border-bottom: 1px solid var(--xm-collapse-border-color);
    padding-bottom: 25px;
}
.slide-enter-active,
.slide-leave-active {
    transition: height var(--xm-transition-duration) ease-in-out;
}
